body {
font-family: Arial, Helvetica, sans-serif;
}

.container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
padding: 10px;
}

.container div {
font-size: 20px;
text-align: center;
margin-bottom: 10px;
}

.sub-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
margin: 0px 10px;
padding-top: 10px;
}

.time_slot {
display: none; 
}

.time_label {
color: #3B5CFF;
display: inline-block;
border: 1px solid #3B5CFF;
background-color: #ffffff;
cursor: pointer;
padding: 3px;
font-size: 17px;
text-align: center;
margin: 5px 5px;
border-radius: 6px;
}

.time_slot:checked + .time_label {
background-color: #3B5CFF; 
color: white;
border-color: #3B5CFF;
}

.time_slot:disabled + .time_label {
background-color: white; 
color: #BBBBBB;
border-color: #BBBBBB;
cursor: default;
}

button {
color: #3B5CFF;
display: inline-block;
border: 1px solid #3B5CFF;
background-color: #ffffff;
cursor: pointer;
padding: 5px;
font-size: 17px;
text-align: center;
margin: 5px, 0px;
border-radius: 6px;
}

button:focus {
background-color: #3B5CFF; 
color: white;
border-color: #3B5CFF;
}

.button {
color: #3B5CFF;
display: inline-block;
border: 1px solid #3B5CFF;
background-color: #ffffff;
cursor: pointer;
padding: 5px;
font-size: 17px;
text-align: center;
margin: 5px, 0px;
border-radius: 6px;
text-decoration: none;
}

.button:focus {
background-color: #3B5CFF; 
color: white;
border-color: #3B5CFF;
}
button:disabled {
background-color: white; 
color: #BBBBBB;
border-color: #BBBBBB;
cursor: default;
}

.logout {
position: absolute;
top: 0;
right: 8; 
margin-block-start: 0.67em;
}

.my-bookings {
position: absolute; 
top: 0; 
right: 80; 
margin-block-start: 0.67em;
}

.home { 
position: absolute; 
top: 0; 
right: 197; 
margin-block-start: 0.67em;
}

.collapsible {
background-color: #3B5CFF;
color: #ffffff;
cursor: pointer;
padding: 15px;
width: 1fr;
border: none;
text-align: left;
outline: none;
display: flex;
align-items: center; 
height: 35px;
}


.header {
background-color: #3B5CFF;
color: #ffffff;
padding: 15px;
width: 1fr;
border: none;
text-align: left;
outline: none;
display: flex;
align-items: center; 
height: 35px
}



.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

.collapsible-header:after {
  content: '\002B';
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.collapsible.active .collapsible-header::after {
  content: '\2212';
}


.expander-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width: 10px;
    height: 10px;

    transform: rotate(45deg); 
    transition: transform 0.3s ease; 
}

.expander-button[aria-expanded="true"] .expander-arrow {
    transform: rotate(-135deg);
    border: none;

}

.expander-button {
	background-color: white;
    border: none;
}

.content-static {
padding: 0 18px;
background-color: #ffffff;
}

.alert {
padding: 20px;
background-color: #f44336;
color: white;
opacity: 1;
transition: opacity 0.6s;
margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}